<!DOCTYPE html>
<html>
<head>
  <title>Reporte de incidentes</title>
  <link href="/app.css" rel="stylesheet">
</head>
<body>
  <div class="layout">
    <div class="layout__header">
      <header class="header">
        <img src="/images/logo.png" width="40px" height="42px" class="header__logo">
        <span class="header__name">
          Reporte de incidentes
        </span>
      </header>
    </div>
    <div class="layout__body">
      <aside class="aside">
        <nav class="site-menu">
          <h2 class="site-menu__title">Menu</h2>
          <ul class="site-menu__items">
            <li class="site-menu__item">
              <a class="site-menu__link" href="/issues">
                All issues
              </a>
            </li>
            <li class="site-menu__item">
              <a class="site-menu__link" href="/issues/new">
                New issue
              </a>
            </li>
          </ul>
        </nav>
      </aside>
      <main class="body">
        {{{body}}}
      </main>
    </div>
    <div class="layout__footer">
      <footer class="footer">
      </footer>
    </div>
  </div>
</body>
</html>
