/* variables */
:root {
  --color-white: #fff;
  --color-gray-light: #fbfbfb;
  --color-gray-dark: #444;
  --color-red: #8E0000;
  --color-red-dark: #3F0000;
  --color-green: #598500;
  --color-green-dark: #273B00;
  --color-border: #f0f0f0;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* reset */

* {
  box-sizing: border-box;
}

html, body, div, h1, h2, h3, p, span, ul, label, a, button {
  padding:0;
  margin:0;
}

button {
  font-size: 14px;
  line-height: 1.5;
}

/* base */
body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--color-gray-dark);
  background-color: var(--color-white);
  word-wrap: break-word;
}

/* layout */
.layout {
  max-width: 100vw;
}

/* header */
.header {
  --color-white: #fff;
  --color-gray-dark: #222;

  background-color: var(--color-gray-dark);
  color: var(--color-white);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.header__name {
  padding-left: 1.5rem;
}

/* issue-list */
.issue-list {
  padding: .5rem 3rem;
}

/* issue-item */
.issue-item {
}

/* issue */
.issue {
  padding: .5rem 3rem;
}

.issue__description {
  font-size: 1.5rem;
  padding: 1rem 0;
  max-width: 600px;
}

.issue__actions {
  max-width: 600px;
  text-align: right;
}

/* dashboard */
.dashboard {
  padding: .5rem 3rem;
}

/* title */
.title {
  background: var(--color-gray-light);
  padding: 2rem 3rem;
  border-bottom: 1px solid var(--color-border);
}

.title__label {
  font-size: 2rem;
  color: var(--color-gray-dark);
  vertical-align: middle;
}

/* btn */
.btn {
  display: inline-block;
  padding: .5rem 1rem;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  font-family: inherit;
  font-size: 1rem;
  text-transform: none;
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  color: var(--color-gray-dark);
  background: var(--color-white);
  cursor: pointer;
}

.btn:hover {
  background: var(--color-gray-dark);
  border-color: var(--color-gray-dark);
  color: var(--color-white);
}

.btn ~ .btn {
  margin-left: .5rem;
}

.btn--red {
  background: var(--color-red);
  border-color: var(--color-red-dark);
  color: var(--color-white);
}

.btn--green {
  background: var(--color-green);
  border-color: var(--color-green-dark);
  color: var(--color-white);
}

/* form */
.form {
  padding: 1rem 2rem;
}

.form__field {
  margin: 10px 0;
}

.form__actions {
  max-width: 600px;
  text-align: right;
}

.form__input,
.form__textarea {
  display: block;
  width: 100%;
  max-width: 600px;
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.5;
  color: var(--color-gray-dark);
  border: 1px solid var(--color-border);
}

.form__textarea {
  resize: none;
  overflow: auto;
}
