.metric {
  flex: 1;
  max-width: 350px;
  padding: 10px;
  margin: 0 auto;
}

.metric path {
  stroke-width: 75;
  stroke: #ecf0f1;
  fill: none;
}

/* Critical */
.metric.high path.data-arc {
  stroke: #e74c3c;
}

.metric.high text {
  fill: #e74c3c;
}

/* High */
.metric.medium path.data-arc {
  stroke: #3498db;
}

.metric.medium text {
  fill: #3498db;
}

/* Medium */
.metric.low path.data-arc {
  stroke: #27ae60;
}

.metric.low text {
  fill: #27ae60;
}

/* Closed */
.metric.closed path.data-arc {
  stroke: #14aecf;
}

.metric.closed text {
  fill: #14aecf;
}
