<h1 class="title">
  <span class="title__label">
    Issues
  </span>
</h1>

<section class="issue-list">

  <div class="issue-list__header">
    <span>
      <a href="/issues?is=open" class={{isSelected status 'open' 'selected'}}>{{openCount}} Open</a> /
      <a href="/issues?is=closed" class={{isSelected status 'closed' 'selected'}}>{{closedCount}} Closed</a>
    </span>
    <a class="btn btn--green" href="/issues/new">Add new issue</a>
  </div>

  <ul>
  {{#each issues}}
    <li class="issue-item">
      <a href="/issues/{{id}}" class="issue-item__link">
        {{title}}
      </a>
    </li>
  {{/each}}
  </ul>
</section>
