<html>
<head>
  <title>Reporte de incidentes Peregrinus</title>
  <link href="app.css" rel="stylesheet">
</head>
<body>
  <div class="layout">
    <div class="layout__header">
      <header class="header">

      </header>
    </div>
    <div class="layout__body">
      <section class="body">
        <h1>Reporte de incidentes Peregrinus</h1>
        <p>
          ¡Gracias por elegirnos!
        </p>
      </section>
    </div>
    <div class="layout__footer">
      <footer class="footer">
      </footer>
    </div>
  </div>
</body>
</html>
